				<!-- Sidebar -->
					<section id="sidebar">
							<section id="intro">
									<a href="http://www.casinocademy.com/page0.html" class="logo"><img src={{"images/CasinocademyLogo.png" | relative_url}} alt="CasinocademyLogo" /></a>
									<header>
										<h2><a href="http://www.casinocademy.com/page0.html">Casinocademy</a></h2>
										<p>You number one stop for online Casino Tips, Tricks and Hacks</p>
									</header>
								</section>
						<!-- Mini Posts -->
							<section>
								<header>
									<h2> Most Popular</h2>
									<p id="main"> Our Top Posts as voted for by you</p>
								</header>
								<div class="mini-posts">
									{% for post in site.posts limit:4 %}
										{% include miniPost.html %}
									{% endfor %}
								</div>
							</section>

						<!-- Posts List -->
							<section>
								<header>
									<h2>Recent Posts</h2>
									<p id="main"> New Material to keep you winning!</p>
								</header>
								<ul class="posts">
									{% for post in site.posts limit:8 %}
										{% include postlist.html %}
									{% endfor %}
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>The worlds No. 1 Casino Academy!</h2>
								<p>The Aim of Casinocademy is to teach, educate and help online casino players when it comes to the ins, outs and arounds of gambling online. With us you will stay on top of your game and have the best chances of winning BIG.</p>
								<ul class="actions">
									<li><a href="/about.html" class="button">Learn More</a></li>
								</ul>
							</section>